<p class="<%=paginate.attr('count') == Infinity ? 'hidden':''%>">
	Showing <span><%=paginate.itemsShown()%></span> of <span><%=paginate.attr('count')%> <%=item_name%><%=paginate.attr('count') > 1 ? 's':''%></span>
<p>